<html>
    <head>
        <title>restore.solutions template</title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
        <link rel="stylesheet" href="style.css" />
        
        <script type="text/javascript">
            function initialise(){
                Array.prototype.forEach.call(document.getElementsByClassName('dropdown-toggle'), function(element){
                    element.onclick = function(e){
                        var displayOptions = {
                            'block': 'none',
                            'none': 'block'
                        };
                        var listDisplay = e.target.nextElementSibling.style.display;
                        e.target.nextElementSibling.style.display = (listDisplay) ? displayOptions[listDisplay] : 'block';
                    }
                });
            };
            
            window.onload = initialise;
        </script>
    </head>
    
    <body>
        <div class="main-container">
            <div class="header">
                <div class="logo">
                    restore solutions
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#"><img src="interface/facebook.png" /></a></li>
                        <li><a href="#"><img src="interface/twitter.png" /></a></li>
                        <li><a href="#"><img src="interface/googleplus.png" /></a></li>
                    </ul>
                </div>
                <div class="basket-summary">
                    <div class="image"><img src="interface/shopping_cart.png" /></div>
                    <div class="text">1 item</div>
                </div>
            </div>
            <div class="search-form-container">
                <div class="search-form">
                    <div class="search-form-inner">
                        <div class="title">Specify Your PC and OS Version</div>
                        <form>
                            <div class="dropdown search-element">
                              <button class="btn btn-default dropdown-toggle" type="button">
                                Make
                                <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu">
                                <li><a href="#">Acer</a></li>
                                <li><a href="#">Dell</a></li>
                                <li><a href="#">Lenovo</a></li>
                              </ul>
                            </div>
                            <div class="dropdown search-element">
                              <button class="btn btn-default dropdown-toggle" type="button">
                                Model
                                <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu">
                                <li><a href="#">Aspire 5570</a></li>
                                <li><a href="#">Aspire 5560</a></li>
                                <li><a href="#">Aspire 5550</a></li>
                              </ul>
                            </div>
                            <div class="dropdown search-element">
                              <button class="btn btn-default dropdown-toggle" type="button">
                                Windows
                                <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu">
                                <li><a href="#">Vista</a></li>
                                <li><a href="#">7</a></li>
                                <li><a href="#">8</a></li>
                                <li><a href="#">10</a></li>
                              </ul>
                            </div>
                            <div class="search-element">
                                <button class="btn btn-default submit-button">Find Your Drivers</button>
                            </div>
                        </form>
                    </div>
                </div>    
            </div>
            <div class="articles-container">
                <div class="article article-first">
                    <img src="interface/dvd.png" />
                    <span class="text-content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut nunc nisl. Duis scelerisque efficitur malesuada. Sed posuere lobortis metus ac sodales. In lobortis nulla nisi, eu lacinia risus volutpat in. Mauris hendrerit in dui in vulputate. In ultricies mauris nisl, id congue lorem egestas blandit. Vestibulum id elit ultricies, sollicitudin felis non, dapibus justo.
                    </span>
                </div>
                <div class="article">
                    <img src="interface/search.png" />
                    <span class="text-content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut nunc nisl. Duis scelerisque efficitur malesuada. Sed posuere lobortis metus ac sodales. In lobortis nulla nisi, eu lacinia risus volutpat in. Mauris hendrerit in dui in vulputate. In ultricies mauris nisl, id congue lorem egestas blandit. Vestibulum id elit ultricies, sollicitudin felis non, dapibus justo.
                    </span>
                </div>
                <div class="article article-last">
                    <img src="interface/testing.png" />
                    <span class="text-content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut nunc nisl. Duis scelerisque efficitur malesuada. Sed posuere lobortis metus ac sodales. In lobortis nulla nisi, eu lacinia risus volutpat in. Mauris hendrerit in dui in vulputate. In ultricies mauris nisl, id congue lorem egestas blandit. Vestibulum id elit ultricies, sollicitudin felis non, dapibus justo.
                    </span>
                </div>
            </div>
            <div class="footer">
                <div class="footer-inner">
                    <ul>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Privacy Statement</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Site Map</a></li>
                    </ul>
                    <div class="ecommerce">
                        <img src="interface/sage-pay.png" />
                        <img src="interface/geotrust.png" />
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>