
        <div class="footer">
            <div class="inner-container">
                <ul>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Privacy Statement</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Site Map</a></li>
                </ul>
                <div class="ecommerce">
                    <img src="interface/sage-pay.png" />
                    <img src="interface/geotrust.png" />
                </div>
            </div>
        </div>