
        <div class="header inner-container">
            <div class="logo">
                restore solutions
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#"><img src="interface/facebook.png" /></a></li>
                    <li><a href="#"><img src="interface/twitter.png" /></a></li>
                    <li><a href="#"><img src="interface/googleplus.png" /></a></li>
                </ul>
            </div>
                <div class="basket-summary">
                    <div class="detail">
                        <div class="image"><img src="interface/shopping_cart.png" /></div>
                        <div class="text">Empty</div>
                    </div>
                    <div class="submit-button btn btn-default">
                        <span class="glyphicon glyphicon-lock"></span>
                        Checkout
                    </div>
                </div>
        </div>