<html>
    <head>
        <title>Driver Disk Store</title>
        
        <%- include('partials/style') %>
        
        <script type="text/javascript">
            function initialise(){
                Array.prototype.forEach.call(document.getElementsByClassName('dropdown-toggle'), function(element){
                    element.onclick = function(e){
                        var displayOptions = {
                            'block': 'none',
                            'none': 'block'
                        };
                        var listDisplay = e.target.nextElementSibling.style.display;
                        e.target.nextElementSibling.style.display = (listDisplay) ? displayOptions[listDisplay] : 'block';
                    }
                });
            };
            
            window.onload = initialise;
        </script>
    </head>
    
    <body>
        <%- include('partials/header') %>
        <div class="search-form-container">
            <div class="search-form  inner-container">
                <div class="search-form-inner">
                    <div class="title">Specify Your PC and OS Version</div>
                    <form>
                        <div class="dropdown search-element">
                          <button class="btn btn-default dropdown-toggle" type="button">
                            Make
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a href="#">Acer</a></li>
                            <li><a href="#">Dell</a></li>
                            <li><a href="#">Lenovo</a></li>
                          </ul>
                        </div>
                        <div class="dropdown search-element">
                          <button class="btn btn-default dropdown-toggle" type="button">
                            Model
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a href="#">Aspire 5570</a></li>
                            <li><a href="#">Aspire 5560</a></li>
                            <li><a href="#">Aspire 5550</a></li>
                          </ul>
                        </div>
                        <div class="dropdown search-element">
                          <button class="btn btn-default dropdown-toggle" type="button">
                            Windows
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a href="#">Vista</a></li>
                            <li><a href="#">7</a></li>
                            <li><a href="#">8</a></li>
                            <li><a href="#">10</a></li>
                          </ul>
                        </div>
                        <div class="search-element">
                            <button class="btn btn-default submit-button">Find Your Drivers</button>
                        </div>
                    </form>
                </div>
            </div>    
        </div>
        <div class="articles-container inner-container">
            <div class="article">
                <img src="interface/dvd.png" />
                <span class="text-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut nunc nisl. Duis scelerisque efficitur malesuada. Sed posuere lobortis metus ac sodales. In lobortis nulla nisi, eu lacinia risus volutpat in. Mauris hendrerit in dui in vulputate. In ultricies mauris nisl, id congue lorem egestas blandit. Vestibulum id elit ultricies, sollicitudin felis non, dapibus justo.
                </span>
            </div>
            <div class="article">
                <img src="interface/search.png" />
                <span class="text-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut nunc nisl. Duis scelerisque efficitur malesuada. Sed posuere lobortis metus ac sodales. In lobortis nulla nisi, eu lacinia risus volutpat in. Mauris hendrerit in dui in vulputate. In ultricies mauris nisl, id congue lorem egestas blandit. Vestibulum id elit ultricies, sollicitudin felis non, dapibus justo.
                </span>
            </div>
            <div class="article article-last">
                <img src="interface/testing.png" />
                <span class="text-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut nunc nisl. Duis scelerisque efficitur malesuada. Sed posuere lobortis metus ac sodales. In lobortis nulla nisi, eu lacinia risus volutpat in. Mauris hendrerit in dui in vulputate. In ultricies mauris nisl, id congue lorem egestas blandit. Vestibulum id elit ultricies, sollicitudin felis non, dapibus justo.
                </span>
            </div>
        </div>
        <%- include('partials/footer') %>
    </body>
</html>