<!DOCTYPE html>
<html>
    <head>
        <title>Driver Disk Store</title>

        <%- include('partials/style') %>
    </head>

    <body>
        <%- include('partials/header') %>
        <div id="searchFormContainer" class="search-form-container"><%- searchForm %></div>
        <div class="articles-container inner-container">
            <div class="article">
                <img src="/interface/dvd.png" />
                <span class="text-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut nunc nisl. Duis scelerisque efficitur malesuada. Sed posuere lobortis metus ac sodales. In lobortis nulla nisi, eu lacinia risus volutpat in. Mauris hendrerit in dui in vulputate. In ultricies mauris nisl, id congue lorem egestas blandit. Vestibulum id elit ultricies, sollicitudin felis non, dapibus justo.
                </span>
            </div>
            <div class="article">
                <img src="/interface/search.png" />
                <span class="text-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut nunc nisl. Duis scelerisque efficitur malesuada. Sed posuere lobortis metus ac sodales. In lobortis nulla nisi, eu lacinia risus volutpat in. Mauris hendrerit in dui in vulputate. In ultricies mauris nisl, id congue lorem egestas blandit. Vestibulum id elit ultricies, sollicitudin felis non, dapibus justo.
                </span>
            </div>
            <div class="article article-last">
                <img src="/interface/testing.png" />
                <span class="text-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut nunc nisl. Duis scelerisque efficitur malesuada. Sed posuere lobortis metus ac sodales. In lobortis nulla nisi, eu lacinia risus volutpat in. Mauris hendrerit in dui in vulputate. In ultricies mauris nisl, id congue lorem egestas blandit. Vestibulum id elit ultricies, sollicitudin felis non, dapibus justo.
                </span>
            </div>
        </div>
        <%- include('partials/footer') %>
        <script src="/index.min.js"></script>
    </body>
</html>
