<!DOCTYPE html>
<html>
    <head>
        <title><%- product.description %> - Driver Disk Store</title>

        <%- include('partials/style') %>
    </head>

    <body>
        <div id="appContainer"></div>
        <%- include('partials/footer') %>
        <script>
          window.globals = {};
          window.globals.product = <%- JSON.stringify(product) %>;
        </script>
        <script src="/product.min.js"></script>
    </body>
</html>
