<!DOCTYPE html>
<html>
    <head>
        <title>Basket - Driver Disk Store</title>

        <%- include('partials/style') %>
    </head>

    <body>
        <div id="appContainer"></div>
        <%- include('partials/footer') %>
        <script src="/view-basket.min.js"></script>
    </body>
</html>
